@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Classes */
* {
  font-family: Roboto;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  justify-items: center;
  color: hsl(0, 0%, 38%);
}
h1 {
  color: hsl(0, 0%, 28%);
}
h2 {
  color: hsl(0, 0%, 38%);
}
button {
  margin: 20px;
  background-color: hsl(143, 49%, 43%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  color: hsla(0, 0%, 100%, 0.98);
  font-weight: bold;
  font-size: 1.5em;
}
button:hover {
  background-color: hsl(143, 49%, 33%);
  transition: 7ms;
}
#welcome {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: hsl(38, 100%, 94%);
  margin: 70px;
  border-radius: 70px;
}
#welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  margin-bottom: 20px;
}
#welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#welcome-form label {
  margin-bottom: 2px;
}
#welcome-form input {
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 13px hsla(0, 0%, 50%, 0.2);
  height: 22px;
  opacity: 70%;
}
/* ID's
//Page layout
form labels */

#location {
}
#length {
}
#width {
}

.plant-columns {
  display: flex;
  justify-content: space-around; /* Distributes space evenly */
}

.column {
  width: 30%; /* Each column takes up roughly one-third of the width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.plant-card {
  margin: 10px 0; /* Spacing between cards */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plant-image-small {
  width: 80px; /* Small images for the cards */
  height: auto;
  margin-bottom: 10px;
}

.plant-details {
  text-align: center;
}

@media (max-width: 768px) {
  .plant-columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%; /* Full width on smaller screens */
  }
}
